<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyBvEgC6a65X00eEcYA2APXwSKbt8C5bBmU</string>
	<key>GCM_SENDER_ID</key>
	<string>376697453835</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterdemoapp</string>
	<key>PROJECT_ID</key>
	<string>gman-demo-app</string>
	<key>STORAGE_BUCKET</key>
	<string>gman-demo-app.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:376697453835:ios:b88c9a60cc0723d7f2360e</string>
</dict>
</plist>